/* Contains all of the CSS for the two HTML files */
/* CSS rules used for both ^
Note: If you've already created any of the CSS rules in this section by working on another page, you do not need to make them again.

body should remove all margin and padding
main should set the padding to 16 pixels
footer should set the top and bottom padding to 24 pixels and the left and right padding to 0 pixels
img should have a height of 200 pixels
nav should have a black, 1pixel bottom border and padding all the way around of 16 pixels */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Roboto&display=swap');

body {
    padding: 0px;
    margin: 0px;
}

main {
    font-family: "Nunito", sans-serif;
    padding: 16px;
    margin-bottom: 20px;
}

footer {
    font-family: "Roboto", sans-serif;
    background-color: hsl(0, 0%, 50%, .85) ;
    position: sticky;
    bottom: 0px;
    left: 0px;
    right: ;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 10px;
    padding-right: 0px;
    border: 1px black;
}

img {
    height: 200px;
    width: 1fr;
    border: 1px solid white;
}

nav {
    font-family: "Roboto", sans-serif;
    background-color: aqua;
    border-bottom: 3px solid black;
    padding: 16px;
}
a:hover {
    color: rgb(255, 91, 9);
    text-decoration: underline;
    text-shadow: 1px 1px white;
}

a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}
nav a {
    color: black;
    font-size: 16px;
}


#card-container {
    display: flex;
    flex-flow: row wrap;
}

.list-card {
    padding-left: 15px;
    padding-bottom: 5px;
    margin: 20px;
    height: 325px;
    width: 25%;
    background-color: #ffffff;
    border: 1px solid gray;
}

table, th, tr, td {
    border-collapse: collapse;
    border: 1px solid black;
}
/* .ingredient-table-contents {
    border-collapse: 2px solid black;
} */
th {
    padding: 3px;
}

td {
    padding: 3px;
}
.ingredients-table-row:nth-child(2n+2) {
    background-color: lightgray;
}
